{% extends 'base.html' %}

{% block title %}Add Book{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add Book</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
                <div class="errorlist">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.author.label_tag }}
            {{ form.author }}
            {% if form.author.errors %}
                <div class="errorlist">
                    {{ form.author.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
            {% if form.category.errors %}
                <div class="errorlist">
                    {{ form.category.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.pdf.label_tag }}
            {{ form.pdf }}
            {% if form.pdf.errors %}
                <div class="errorlist">
                    {{ form.pdf.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.cover_photo.label_tag }}
            {{ form.cover_photo }}
            {% if form.cover_photo.errors %}
                <div class="errorlist">
                    {{ form.cover_photo.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.published_date.label_tag }}
            {{ form.published_date }}
            {% if form.published_date.errors %}
                <div class="errorlist">
                    {{ form.published_date.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.isbn.label_tag }}
            {{ form.isbn }}
            {% if form.isbn.errors %}
                <div class="errorlist">
                    {{ form.isbn.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.language.label_tag }}
            {{ form.language }}
            {% if form.language.errors %}
                <div class="errorlist">
                    {{ form.language.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.publisher.label_tag }}
            {{ form.publisher }}
            {% if form.publisher.errors %}
                <div class="errorlist">
                    {{ form.publisher.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn-submit">Add Book</button>
    </form>
    <a href="{% url 'home' %}" class="btn-cancel">Cancel</a></div>
{% endblock %}
